body {
  background-color: rgb(219, 219, 219);
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.open-btn {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: .3rem;
  background-color: rgb(108, 213, 255);
  color: black;
  border: 1px solid rgb(65, 95, 107);
}

span, a {
  margin-right: 1rem;
}

ul > li {
  margin-bottom: .5rem;;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  margin-right: .5rem;
}
