include partials/header.pug
h1 Liste des incidents
a(href='/incident/new').open-btn Ouvrir un incident
ul.incident-list
  each val in incidents
    li
      span.incident-id #{val.id}
      a(href=`/incident/${val.id}`) #{val.attraction}
      span #{val.nature}
